/* Стили для карты */
#map {
    height: 100vh; /* Карта займет весь экран */
    width: 100%; /* Карта будет растягиваться на всю ширину */
}

/* Стили для тела страницы */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
